apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  # Argo CD's externally facing base URL (required for SSO)
  url: https://argo-cd-demo.argoproj.io

  dex.config: |
    connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: $ARGOCD_AUTH_CLIENT_ID
          clientSecret: $ARGOCD_AUTH_CLIENT_SECRETS
          orgs:
          - name: your-github-org
         


  # Additional externally facing base URLs (optional)
  additionalUrls: |
    - https://argo-cd-demo2.argoproj.io

  # Enables application status badge feature
  statusbadge.enabled: "true"

  # Automatically prune resources when they are removed from Git
  resource.customizations.health.argoproj.io/Application: |
    hs = {}
    hs.status = "Healthy"
    hs.message = "Application is healthy"
    return hs


