#workflows/cicd.yml

name: Full CI/CD + GitOps

on:
  workflow_dispatch:
  # push:
    

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    secrets: inherit

  deploy-via-argocd:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS & kubectl
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
      - run: aws eks update-kubeconfig --name eks-cluster

      - name: Wait for ArgoCD to be ready
        run: |
          kubectl wait --for=condition=available deployment/argocd-server -n argocd --timeout=300s

      - name: Get ArgoCD Credentials
        run: |
         echo "ArgoCD URL: https://$(kubectl get svc -n argocd argocd-server -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')"
         echo "Username: admin"
         echo "Password: $(kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath='{.data.password}' | base64 -d)"

      - name: Health Check
        run: |
          echo "Deployment complete!"
          echo "Access ArgoCD via LoadBalancer URL"