#workflows/terraform.yml

name: Terraform Apply
on: 
  workflow_call:
jobs:
    terraform:
        runs-on: ubuntu-latest
        
        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: AWS login
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-southeast-2

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: 1.6.0

            - name: Terraform Init
              working-directory: infra
              run: terraform init

            - name: Terraform Plan
              working-directory: infra
              run: terraform plan -out=tfplan

            - name: Terraform Apply
              working-directory: infra
              run: terraform apply -auto-approve -input=false tfplan || true

